<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профіль</title>
    <link rel="stylesheet" href="static/accountcss.css">
</head>
<body>
    <div class="container" id="main-container">
        <h2>Профіль</h2>
        <p>Увійдіть або створіть обліковий запис, використовуючи email.</p>
        
        <div class="buttons">
            <button class="login-btn" id="showLoginForm">Увійти</button>
            <button class="register-btn" id="showRegisterForm">Створити акаунт</button>
        </div>
    </div>

    <!-- Форма Авторизації -->
    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Логін" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Увійти</button>
</form>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<!-- Форма Реєстрації -->
<div class="form-container" id="registerForm">
    <h2>Створити акаунт</h2>
    <input type="text" name="username" placeholder="Логін" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Створити акаунт</button>
</div>

<script src="static/script.js"></script> <!-- Підключаємо JavaScript -->
</body>
</html>
