<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Авіакомпанія</title>
  <link rel="stylesheet" href="static/bok.css">
</head>
<body>
  <header class="navbar">
    <div class="logo">UkrAirFly</div>
    <nav class="nav-links">
      <a href="#flights">Рейси</a>
      <a href="#destinations">Напрямки</a>
      <a href="#services">Послуги</a>
      <a href="#contact">Контакти</a>
    </nav>
    <div class="login-container">
      <a href="account" class="login-link">Увійти</a>
    </div>
  </header>
  
  <div class="ticket-container">
    <div class="ticket">
      <div class="date">Квітень 18, пт.</div>
      <div class="price">від 191 €</div>
      <img src="static/images/raeir.jpg" alt="Flight Image" class="flight-image">
      <div class="flight-details">
          Туди: Лісабон - Кишинів <br>
          3г 25хв <br>
          LIS (Лісабон) 18:15 - RMO (Кишинів) 00:40 <br>
          Літак U5452, Boeing 737-700 NG
      </div>
      <a href="#" class="button">Обрати</a>
    </div>
    <div class="ticket">
      <div class="date">Квітень 25, пт.</div>
      <div class="price">від 181 €</div>
      <div class="flight-details">
          Назад: Рейс не вибрано <br>
          Пропозиція про зворотній рейс <br>
          Кишинів - Лісабон від 168 €
      </div>
      <a href="#" class="button">Обрати зворотній рейс</a>
    </div>
  </div>
</body>
</html>