<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <title>Авіакомпанія</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <section class="hero">
    <div style="margin-left: 80px; margin-right: 80px;">
    <div>
      <header class="navbar">
        <div class="logo"><img src="/static/images/logo.svg" width="200" height="50"></div>
        <nav class="nav-links">
          <a href="#flights">Рейси</a>
          <a href="#destinations">Напрямки</a>
          <a href="#services">Послуги</a>
          <a href="#contact">Контакти</a>
        </nav>
        <div class="login-container">
          {% if user.is_authenticated %}
           <a href="{% url 'profile' %}" class="login-link">Профіль</a>
          {% else %}
           <a href="{% url 'account' %}" class="login-link">Увійти</a>
          {% endif %}
        </div>
      </header>
    </div>

    <h1 class="hero-title">Подорожуйте з комфортом</h1>
    <p class="hero-text">Бронюйте квитки по всьому світу за вигідними цінами.</p>
    <section id="search" style="margin-top: 100px;">
      <form class="search-form" method="get" action="{% url 'book_flight' %}">
        <div class="trip-options">
          <label class="selected-trip">
            Туди і назад
          </label>
          <label class="trip">
            В один бік
          </label>
          {% if error %}
          <div style="color: red;">{{ error }}</div>
          {% endif %}
        </div>
      
        <div class="search-fields">
          <input type="text" id="from" name="departure" placeholder="Звідки" required>
          <input type="text" id="to" name="arrival" placeholder="Куди" required>
          <input type="text" class="first-date" id="custom-date" name="date" required>
          <input type="text" class="second-date" id="custom-date">
          <button type="submit" class="btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </form>      
    </section>
    </div>
  </section>

  <section id="flights" class="flights-section">
    <h2>Популярні рейси</h2>
    <div class="flights-list">
        {% for route in popular_routes %}
        <div class="flight-card">
            <h3>{{ route.departure.city }} - {{ route.arrival.city }}</h3>
            <p>Від {{ route.flights_number|slice:"2:" }}$</p> <!-- Приклад ціни, можна додати реальну логіку -->
            <button class="btn-secondary">Детальніше</button>
        </div>
        {% empty %}
        <p>Популярних рейсів поки немає.</p>
        {% endfor %}
    </div>
  </section>

  <footer class="footer">
    <div class="footer-bottom">
      <p>&copy; 2025 UkrAirFly. Усі права захищено.</p>
      <p><a href="#">Політика конфіденційності</a> | <a href="#">Умови використання</a></p>
    </div>
  </footer>
</body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const roundTripLabel = document.querySelector(".selected-trip");
    const oneWayLabel = document.querySelector(".trip");
    const secondDateInput = document.querySelector(".second-date");

    function toggleTripSelection() {
        roundTripLabel.classList.toggle("selected-trip");
        roundTripLabel.classList.toggle("trip");
        oneWayLabel.classList.toggle("selected-trip");
        oneWayLabel.classList.toggle("trip");
    }

    oneWayLabel.addEventListener("click", function () {
        secondDateInput.style.display = "none";
        toggleTripSelection();
    });

    roundTripLabel.addEventListener("click", function () {
        secondDateInput.style.display = "block";
        toggleTripSelection();
    });
  });
</script>

<script>
  flatpickr("#custom-date", {
    dateFormat: "d-m-Y",
    
    altInput: true,
    altFormat: "d F Y",
    
    defaultDate: new Date(),
    minDate: "today",
    
    locale: {
      weekdays: {
        shorthand: ["Нд", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
        longhand: ["Неділя", "Понеділок", "Вівторок", "Середа", "Четвер", "П’ятниця", "Субота"]
      },
      months: {
        shorthand: ["Січ", "Лют", "Бер", "Кві", "Тра", "Чер", "Лип", "Сер", "Вер", "Жов", "Лис", "Гру"],
        longhand: ["Січня", "Лютого", "Березня", "Квітня", "Травня", "Червня", "Липня", "Серпня", "Вересня", "Жовтня", "Листопада", "Грудня"]
      }
    }
  });
</script>